---
---

<header>
  <nav>
    <a href="/" class="nav-logo">Tec<span>xodus</span></a>

    <ul class="nav-links">
      <li><a href="/crm/">CRM</a></li>
      <li><a href="/marketing/">SEO</a></li>
      <li><a href="/securite/">VPN</a></li>
      <li><a href="/hebergement/">Hébergement</a></li>
      <li><a href="/gestion-projet/">Gestion projet</a></li>
      <li><a href="/blog/">Tous les comparatifs</a></li>
    </ul>

    <a href="/blog/" class="nav-cta">Comparer maintenant</a>
  </nav>
</header>
